@page "/verify/{username}"
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

@if (!string.IsNullOrEmpty(Username) && !isLoading)
{
    <div class="auth-form mt-5 alert alert-info">
        <h4 class="mb-4 text-center">Email verification:</h4>
        <p>Your account is protected with Two-Factor Authentication.</p>
        <p>To sign in, you will need to enter a 6-digit code send to your Email.</p>
        <div class="flex-column justify-content-start align-items-start">
            <div class="mt-3">
                    <input @bind="totpCode" class="form-control" placeholder="Enter the 6-digit code" />
            </div>
            <div class="mt-4">
                <button @onclick="ConfirmTOTP" class="btn btn-primary">Confirm Authentication Code</button>
            </div>
        </div>
    </div>
}

@if (hasFeedback)
{
    <div class="alert-box @alertType">
        @alertMessage
    </div>
}

@code {
    private string totpCode = "";
    private HttpClient _http;
    private string alertType = "";
    private string alertMessage = "";
    private bool hasFeedback;
    private bool isLoading;

    [Parameter]
    public string Username { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _http = new HttpClient()
            {
                BaseAddress = new Uri(Navigation.BaseUri)
            };
    }

    private async Task ConfirmTOTP()
    {
        if (isLoading)
        {
            return;
        }
        isLoading = true;
        var response = await _http.PostAsJsonAsync("api/totp/confirm", new { Username = Username, Code = totpCode });
        if (response.IsSuccessStatusCode)
        {
            await SaveUserNameAsync(Username);

            Navigation.NavigateTo("/");
        }
        else
        {
            hasFeedback = true;
            alertType = "alert-warning";
            alertMessage = "Unsuccessful authentication. Please try again.";
        }
    }

    private async Task SaveUserNameAsync(string username)
    {
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "username", username);
    }
}
